
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import 'bootstrap/scss/bootstrap';

body{
    background: #f8fafc;
}

.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    strong{
        display: block;
        font-size: 2em;
    }

    .vote, .status{
        width: 60px;
    }

    .status{
        &.unanswered{
            border: none;
        }

        &.answered{
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answered-accepted{
            background-color: $color-green;
            color: $color-white;
        }
    }

    .view{
        margin-top: 10px;
    }
}

form.form-delete{
    display: inline;
}


.vote-controls{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;
    
    span, a{
        display: block;
    }

    span{
        &.votes-count{
            font-size: 25px;
        }

        &.favorites-count{
            font-size: 12px;
        }
    }

    a{
        cursor: pointer;
        color: $gray-600;

        &.off, &off:hover{
            color: $gray-500;
        }

        &.favorite{
            &.favorited, &.favorited:hover{
                color: $warning;
            }
        }

        &.vote-accepted{
            color: $green;
        }
    }


}

.post{
    padding: 20px 0;
    &:not(:last-child){
        border-bottom: 1px solid rgba($black, .1);
    }
}

[v-cloak] {
    display: none;
  }

.fade-enter-active,
.fade-leave-active{
    transition: 600ms ease all;
}

.fade-enter-from,
.fade-leave-to{
    opacity: 0;
}