<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h2>Edit Question</h2>
                            <div class="ml-auto">
                                <router-link
                                    :to="{ name: 'questions' }"
                                    class="btn btn-outline-secondary"
                                    >Back to all questions</router-link
                                >
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <question-form @submitted="update" :is-edit="true"></question-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import QuestionForm from "../components/QuestionForm.vue";
import emitter from "tiny-emitter/instance";

export default {
    components: { QuestionForm },

    methods: {
        update(data) {
            axios
                .put("/questions/"+this.$route.params.id, data)
                .then(({ data }) => {
                    this.$router.push({ name: "questions" });
                    alert("Success");
                })
                .catch(({ response }) => {
                    emitter.emit("error", response.data.errors);
                });
        },
    },
};
</script>
