<template>
    <div>
        <a  v-if="canAccept"
            title="Mark this answer as best answer"
            :class="classes"
            @click.prevent = "create"
        >
            <i class="fas fa-check fa-2x"></i>
        </a>

        <a  v-if="accepted"
            title="This answer is the best answer"
            :class="classes"
        >
            <i class="fas fa-check fa-2x"></i>
        </a>
    </div>
</template>


<script>
    // import emitter from '../event-bus';
    import emitter from 'tiny-emitter/instance'
    export default{
        props: ['answer'],

        data(){
            return {
                isBest: this.answer.is_best,
                id: this.answer.id
            }
        },

        created(){
            emitter.on('accepted', id=>{
                this.isBest = (id===this.id);
            })
        },  

        methods: {
            create(){
                axios.post(`/answers/${this.id}/accept`)
                    .then(res=>{
                        alert('success');
                        this.isBest = true;
                        emitter.emit('accepted', this.id)

                    })
                    .catch(err => {
                    console.log(err.response.data.message)
                })
            }
        },  

        computed: {
            canAccept () {
                return this.authorize('accept', this.answer);
            },

            accepted () {
                return !this.canAccept && this.isBest;
            },

            classes () {
                return [
                    'mt-2',
                    this.isBest ? 'vote-accepted' : ''  
                ]
            }


        }
    }

</script>