<template>
    <form>
        <div class="mb-3 row" v-for="(field, index) in formFields" :key="index">
            <label
                :for="field.name"
                class="col-md-4 col-form-label text-md-end"
                >{{ field.placeholder }}</label
            >

            <div class="col-md-6">
                <input
                    v-if="field.type != 'textarea'"
                    :type="field.type"
                    :id="field.name"
                    v-model="formData[field.name]"
                    class="form-control"
                />

                <textarea
                    v-else
                    :id="field.name"
                    v-model="formData[field.name]"
                    class="form-control"
                    rows="3"
                ></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-4">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    props: {
        formFields: {
            type: Array,
        },
    },

    data() {
        return {
            formData: {},
        };
    },
};
</script>
