<template>
    <form @submit.prevent="handleSubmit">
        <div class="form-group">
            <label for="question-title">Question Title</label>
            <input
                type="text"
                name="title"
                :class="errorClass('title')"
                v-model="title"
            />

            <div v-if="errors['title'][0]" class="invalid-feedback">
                <strong>{{ errors["title"][0] }}</strong>
            </div>
        </div>
        <div class="form-group">
            <label for="question-body">Explain you question</label>
            <m-editor :body="body" name="question-body">
                <textarea
                    name="body"
                    rows="10"
                    :class="errorClass('body')"
                    v-model="body"
                ></textarea>
            </m-editor>
            <div v-if="errors['body'][0]" class="invalid-feedback">
                <strong>{{ errors["body"][0] }}</strong>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-lg">
                <spinner :small="true" v-if="$root.loading"></spinner>
                <span v-else>{{ buttonText }}</span>
            </button>
        </div>
    </form>
</template>

<script>
import emitter from "tiny-emitter/instance";
import MEditor from "./MEditor.vue";

export default {
    components: { MEditor },
    props: {
        isEdit: {
            type: Boolean,
            deafault: false
        }
    },
    data() {
        return {
            title: "",
            body: "",
            errors: {
                title: [],
                body: [],
            },
        };
    },

    computed: {
        buttonText() {
            return "Ask Question";
        },

        buttonText(){
            return this.isEdit ? 'Update question' : 'Ask question'
        }
    },

    mounted() {
        emitter.on("error", (errors) => (this.errors = errors));

        if(this.isEdit){
            this.fetchQuestion();
        }
    },

    methods: {
        handleSubmit() {
            this.$emit("submitted", {
                title: this.title,
                body: this.body,
            });
        },

        errorClass(column) {
            return [
                "form-control",
                this.errors[column] && this.errors[column][0]
                    ? "is-invalid"
                    : "",
            ];
        },

        fetchQuestion(){
            axios.get(`/questions/${this.$route.params.id}`)
                .then(({data}) => {
                    this.title = data.title
                    this.body  = data.body
                })
                .catch(error=>{
                    console.log(error.response)
                })
        }
    },
};
</script>
