<template>
    <div class="media d-flex flex-row post">
        <div class="d-flex flex-column counters side-info">
            <div class="vote">
                <strong>{{ question.votes_count }}</strong>
                {{ str_plural("vote", question.votes_count) }}
            </div>
            <div :class="statusClasses">
                <strong>{{ question.answers_count }}</strong>
                {{ str_plural("answer", question.answers_count) }}
            </div>
            <div class="view">
                {{ question.views + " " + str_plural("view", question.views) }}
            </div>
        </div>
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <h3 class="mt-0">
                    <router-link
                        :to="{
                            name: 'question.show',
                            params: { slug: question.slug },
                        }"
                        >{{ question.title }}</router-link
                    >
                </h3>
                <div class="ml-auto">
                    <router-link
                        v-if="authorize('modify', question)"
                        :to="{
                            name: 'question.edit',
                            params: { id: question.id },
                        }"
                        class="btn btn-sm btn-outline-info"
                        >edit</router-link
                    >
                    <button
                        v-if="authorize('deleteQuestion', question)"
                        class="btn btn-sm btn-outline-danger"
                        @click="destroy"
                    >
                        delete
                    </button>
                </div>
            </div>
            <p class="lead">
                Asked by
                <a href="#">{{ question.user.name }}</a>
                <small class="text-muted">{{ question.created_date }}</small>
            </p>
            <div class="excerpt">
                {{ question.excerpt }}
            </div>
        </div>
    </div>
</template>

<script>
import destroy from "../mixins/destroy";
export default {
    props: ["question"],
    mixins: [destroy],
    methods: {
        str_plural(str, count) {
            return str + (count > 1 ? "s" : "");
        },

        delete() {
            this.$root.disableInterceptor();
            axios.delete("/questions/" + this.question.id).then(({ data }) => {
                alert("Success");
                this.$emit("deleted");
            });
        },
    },

    computed: {
        statusClasses() {
            return ["status", this.question.status];
        },
    },
};
</script>
