<template>
    <div>
        <div class="card-body">
            <spinner v-if="$root.loading"></spinner>
            <div v-if="questions.length > 0">
                <question-excerpt
                    @deleted = "remove(index)"
                    v-for="question in questions"
                    :question="question"
                    :key="question.id"
                ></question-excerpt>
            </div>
            <div v-else class="alert alert-warning">
                <strong>Sorry</strong> There are no questions at the moment
            </div>

            <!-- {{ $questions->links('vendor.pagination.bootstrap-4') }} -->
        </div>
        <div class="card-footer">
            <pagination :meta="meta" :links="links"></pagination>
        </div>
    </div>
</template>

<script>
import QuestionExcerpt from "./QuestionExcerpt.vue";
import Pagination from './Pagination.vue'

export default {
    components: { QuestionExcerpt, Pagination },

    data() {
        return {
            questions: [],
            meta: {},
            links: {},
        };
    },

    mounted() {
        this.fetchQuestions();
    },

    watch: {
        "$route": 'fetchQuestions'
    },  

    methods: {
        fetchQuestions() {
            axios
                .get("/questions", {params: this.$route.query})
                .then(({ data }) => {
                    this.questions = data.data;
                    this.meta = data.meta
                    this.links = data.links
                })
                .catch(({ response }) => {
                    console.log(response.data.message);
                });
        },

        remove(index){
            this.questions.splice(index, 1);
            this.count--;
        }
    },
};
</script>
