<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <Form :formFields="fields"></Form>
                        
                        <a class="row align-items-center pointer" href="/login/github">
                            <i class="fa-brands fa-github mx-2 fa-2x"></i>
                            <span>Log in via github</span>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from '../../components/Form.vue';

export default{
    components: {Form},

    data(){
        return{
            fields: [
                { name: 'username', type: 'text', placeholder: 'Your username'},
                { name: 'email', type: 'email', placeholder: 'Your email'},
                { name: 'password', type: 'password', placeholder: 'Your password'},
                { name: 'password', type: 'password', placeholder: 'Confirm password'},
            ]
        }
    }
}

</script>